## 2025-09-24

### numpy

ğŸ”¢ NumPy ìë£Œí˜• í†µì¼ ìš°ì„ ìˆœìœ„
ì•„ë˜ëŠ” ì¼ë°˜ì ì¸ ìë£Œí˜• ìš°ì„ ìˆœìœ„ì…ë‹ˆë‹¤. ì™¼ìª½ì—ì„œ ì˜¤ë¥¸ìª½ìœ¼ë¡œ ê°ˆìˆ˜ë¡ ìš°ì„ ìˆœìœ„ê°€ ë†’ìŠµë‹ˆë‹¤:
bool < int < float < complex < str/object

In [2]:
import numpy as np

In [3]:
np.__version__

'2.3.3'

In [4]:
L = range(1000)
%timeit L2 = [i **2 for i in L]

72.2 Î¼s Â± 23.5 Î¼s per loop (mean Â± std. dev. of 7 runs, 10,000 loops each)

In [7]:
arr = np.arange(1000)
%timeit arr2 = arr **2

1.88 Î¼s Â± 289 ns per loop (mean Â± std. dev. of 7 runs, 1,000,000 loops each)

In [9]:
alist = [1,2,3,4,5,6]

print(alist)
print(type(alist))

[1, 2, 3, 4, 5, 6]
<class 'list'>

In [10]:
blsit = [1, 2, None ,4, 5, 6]

In [13]:
ar1 = np.array(alist)
print(ar1)
print(type(ar1))

[1 2 3 4 5 6]
<class 'numpy.ndarray'>

In [14]:
ar1.dtype

dtype('int64')

In [15]:
ar2 = np.array([1.1, 2.2, 3.3])

print(ar2)

[1.1 2.2 3.3]

In [16]:
ar2.dtype

dtype('float64')

In [17]:
list_dat = [1, 2., 3]

ar3 = np.array(list_dat)

print(ar3)
print(ar3.dtype)

[1. 2. 3.]
float64

In [20]:
np.array([1, 2, np.nan , 4])

array([ 1.,  2., nan,  4.])

Noneê³¼ np.nanì€ ê°™ì§€ ì•ŠìŠµë‹ˆë‹¤. ë‘˜ì€ ë¹„ìŠ·í•˜ê²Œ "ê°’ì´ ì—†ìŒ"ì„ ë‚˜íƒ€ë‚´ì§€ë§Œ, ì˜ë¯¸ì™€ ë™ì‘ ë°©ì‹ì´ ì™„ì „íˆ ë‹¤ë¦…ë‹ˆë‹¤.
ì‹¤ì „ íŒ
- ë°ì´í„° ë¶„ì„ì—ì„œëŠ” np.nanì„ ê²°ì¸¡ê°’ìœ¼ë¡œ ì‚¬ìš©í•˜ê³ , pandasë‚˜ numpyì—ì„œ isnan()ìœ¼ë¡œ ì²˜ë¦¬í•©ë‹ˆë‹¤.
- ì¼ë°˜ì ì¸ ì¡°ê±´ ë¶„ê¸°ë‚˜ ì´ˆê¸°í™”ì—ëŠ” Noneì´ ë” ì í•©í•©ë‹ˆë‹¤.

In [22]:
arr1 = np.array([1,2,3,4])

print(arr1)
print(arr1.ndim)
print(arr1.shape)

[1 2 3 4]
1
(4,)

In [27]:
arr2 = np.array([[1,2,3,4],[5,6,7,8],[1,2,3,4]])

print(arr2)
print(arr2.ndim)
print(arr2.shape)

[[1 2 3 4]
 [5 6 7 8]
 [1 2 3 4]]
2
(3, 4)

In [ ]:
arr3 = arr2.reshape(2, -1, 3)

print(arr3)
print(arr3.ndim)
print(arr3.shape)

[[[1 2 3]
  [4 5 6]]

 [[7 8 1]
  [2 3 4]]]
3
(2, 2, 3)

In [35]:
alist = np.array([1,2,3,4,5])
blist = np.array([6,7,8,9, np.nan])

In [36]:
blist

array([ 6.,  7.,  8.,  9., nan])

In [37]:
print(alist + blist)
print(alist - blist)
print(alist * blist)
print(alist / blist)

[ 7.  9. 11. 13. nan]
[-5. -5. -5. -5. nan]
[ 6. 14. 24. 36. nan]
[0.16666667 0.28571429 0.375      0.44444444        nan]

In [38]:
print(alist + 2)
print(alist - 2)
print(alist * 2)
print(alist / 2)

[3 4 5 6 7]
[-1  0  1  2  3]
[ 2  4  6  8 10]
[0.5 1.  1.5 2.  2.5]

In [ ]:
#ë„ì „

a = np.array([1,2,3])
b = np.array([10,20,30])

2*a + b

In [41]:
alist = [[0,1,2],[3,4,5]]
#0, 1, 5
print(alist[0][0], alist[0][1], alist[1][2])

0 1 5

In [55]:
alist = [[0,1,2],[3,4,5]]
#0, 1 ìŠ¬ë¼ì´ì‹±
alist[0][:2]
#4,5 ìŠ¬ë¼ì´ì‹±
alist[1][1:]
#1,4
[i[1] for i in alist[:2]]

[1, 4]

In [72]:
blist = np.array([[0,1,2],[3,4,5]])

# 0, 1 ìŠ¬ë¼ì´ì‹± â†’ ì²« ë²ˆì§¸ í–‰ì˜ ì• ë‘ ê°œ ìš”ì†Œ
print(blist[0,:2])     # ì¶œë ¥: [0 1]

# 4, 5 ìŠ¬ë¼ì´ì‹± â†’ ë‘ ë²ˆì§¸ í–‰ì˜ ë’¤ ë‘ ê°œ ìš”ì†Œ
print(blist[1,1:])     # ì¶œë ¥: [4 5]

# 1, 4 â†’ ê° í–‰ì˜ ë‘ ë²ˆì§¸ ìš”ì†Œë§Œ ì¶”ì¶œ
print(blist[:,1])

[0 1]
[4 5]
[1 4]

In [79]:
a = np.array([[1,2,3,4],[5,6,7,8]])

print(a[:2,:2])

[[1 2]
 [5 6]]

In [83]:
clist = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
clist
#ìŠ¬ë¼ì´ì‹± ìµœì†Œ 3ë²ˆ ë„ì „

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [86]:
clist[:,:2]

array([[ 1,  2],
       [ 5,  6],
       [ 9, 10]])

In [87]:
clist[:,1:3]

array([[ 2,  3],
       [ 6,  7],
       [10, 11]])

In [89]:
clist[1:,1:3]

array([[ 6,  7],
       [10, 11]])

In [92]:
clist[:, ::2]

array([[ 1,  3],
       [ 5,  7],
       [ 9, 11]])

In [93]:
clist[::2, :]

array([[ 1,  2,  3,  4],
       [ 9, 10, 11, 12]])

In [95]:
a = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
idx = np.array([True, False, True, False, True,
False, True, False, True, False])
a[idx]

array([0, 2, 4, 6, 8])

In [96]:
b =np.array([[1,2,3],[4,5,6],[7,8,9]])
b

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [100]:
b[[0,2]]

array([[1, 2, 3],
       [7, 8, 9]])

In [97]:
b[[0,1,2],[1,2,0]]

array([2, 6, 7])

In [98]:
arr =np.array([1,2,3,4,5,6,7,8])

In [105]:
arr % 2 == 0

array([False,  True, False,  True, False,  True, False,  True])

In [102]:
a = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [106]:
a[a % 2 == 1]

array([1, 3, 5, 7, 9])

In [107]:
a = np.array([11, 22, 33, 44, 55, 66, 77, 88, 99])
idx = np.array([0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2])
a[idx]

array([11, 11, 11, 11, 11, 11, 22, 22, 22, 22, 22, 33, 33, 33, 33, 33])

In [117]:
a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
a[:,[0,3]]

array([[ 1,  4],
       [ 5,  8],
       [ 9, 12]])

In [118]:
a[:,[True, False, False, True]]

array([[ 1,  4],
       [ 5,  8],
       [ 9, 12]])

In [120]:
a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
a[[2,0,1],:]

array([[ 9, 10, 11, 12],
       [ 1,  2,  3,  4],
       [ 5,  6,  7,  8]])

In [121]:
data = np.array([1, 4, 9, 16])

In [129]:
x = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

print(x[x % 3 == 0])
print(x[x % 4 == 1])
print(x[(x % 3 == 0) & (x % 4 == 1)])

[ 3  6  9 12 15 18]
[ 1  5  9 13 17]
[9]

### Pandas

In [130]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.2-cp311-cp311-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.23.2 in c:\users\el86\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\el86\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\el86\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.2-cp311-cp311-win_amd64.whl (11.3 MB)
   ---------------------------------------- 0.0/11.3 MB ? eta -:--:--
    --------------------------------------- 0.2/11.3 MB 5.9 MB/s eta 0:00:02
   - -------------------------------------- 0.5/11.3 MB 6.8 MB/s eta 0:00:02
   --- ------------------------------------ 0.9/11.3 MB 8.5 MB/s eta 0:00:02
   ---- ----------------------------------- 1.4/11.3 MB 8.7 MB/s eta 0:00:02
   ------ --------------------------------- 1.8/11.3 MB 8.7 MB/s eta 0:00:02
   ------- -------------------------------- 2.1/11.3 MB 9.1 MB/s eta 0:00:02
   -------- ------------------------------- 2.5/11.3 MB 8.8 MB/s eta 0:00:02
   ---------- ----------------------------- 2.8/11.3 MB 9.0 MB/s eta 0:00:01
   ----------- ---------------------------- 3.2/11.3 MB 9.3 MB/s eta 0:00:01
   ------------ --------------------------- 3.6/11.3 MB 9.1 MB/s eta 0:00:01
   ------------- -------------------------- 3.9/11.3 MB 9.2 MB/s eta 0:00:01
   --------------- ------------------------ 4.3/11.3 MB 9.4 MB/s eta 0:00:01
   ---------------- ----------------------- 4.7/11.3 MB 9.3 MB/s eta 0:00:01
   ------------------ --------------------- 5.1/11.3 MB 9.3 MB/s eta 0:00:01
   ------------------- -------------------- 5.5/11.3 MB 9.3 MB/s eta 0:00:01
   -------------------- ------------------- 5.9/11.3 MB 9.5 MB/s eta 0:00:01
   ---------------------- ----------------- 6.3/11.3 MB 9.4 MB/s eta 0:00:01
   ----------------------- ---------------- 6.7/11.3 MB 9.5 MB/s eta 0:00:01
   ------------------------- -------------- 7.1/11.3 MB 9.5 MB/s eta 0:00:01
   --------------------------- ------------ 7.7/11.3 MB 9.5 MB/s eta 0:00:01
   ----------------------------- ---------- 8.2/11.3 MB 9.4 MB/s eta 0:00:01
   ------------------------------ --------- 8.7/11.3 MB 9.4 MB/s eta 0:00:01
   -------------------------------- ------- 9.2/11.3 MB 9.4 MB/s eta 0:00:01
   --------------------------------- ------ 9.5/11.3 MB 9.5 MB/s eta 0:00:01
   ---------------------------------- ----- 9.9/11.3 MB 9.4 MB/s eta 0:00:01
   ------------------------------------ --- 10.3/11.3 MB 9.6 MB/s eta 0:00:01
   -------------------------------------- - 10.8/11.3 MB 9.6 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.3 MB 9.6 MB/s eta 0:00:01
   ---------------------------------------- 11.3/11.3 MB 9.5 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
   ---------------------------------------- 0.0/509.2 kB ? eta -:--:--
   ----------------------------- --------- 389.1/509.2 kB 12.2 MB/s eta 0:00:01
   ---------------------------------------- 509.2/509.2 kB 7.9 MB/s eta 0:00:00
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
   ---------------------------------------- 0.0/347.8 kB ? eta -:--:--
   ------------------------------------- - 337.9/347.8 kB 10.2 MB/s eta 0:00:01
   --------------------------------------- 347.8/347.8 kB 10.5 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.3.2 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [131]:
import pandas as pd

In [235]:
df = pd.read_csv('heroes.csv')
df

      ì´ë¦„  ë‚˜ì´     ì§ì—…     êµ­ì     í‚¤             ì¬ì‚°
0   ì•„ì´ì–¸ë§¨  58    CEO     ë¯¸êµ­  174 11500000000000
1     í† ë¥´  45      ì‹   ì•„ìŠ¤ê°€ë¥´ë“œ  190            NaN
2  ìŠ¤íŒŒì´ë”ë§¨  18   ê³ ë“±í•™ìƒ     ë¯¸êµ­  177            600
3   ì›ë”ìš°ë¨¼  27     ê³µì£¼  ë°ë¯¸ìŠ¤í‚¤ë¼  178            NaN
4     í—í¬  33  í•µë¬¼ë¦¬í•™ì     ë¯¸êµ­  270     1000000000
5   ìº¡í‹´ë§ˆë¸”  25    íŒŒì¼ëŸ¿     ë¯¸êµ­  170      340000000
6  ë¸”ë™ìœ„ë„ìš°  32    ìŠ¤íŒŒì´    ëŸ¬ì‹œì•„  170       50000000

In [142]:
pd.options.display.float_format = '{:.0f}'.format

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ì´ë¦„      7 non-null      object
 1   ë‚˜ì´      7 non-null      int64
 2   ì§ì—…      7 non-null      object
 3   êµ­ì       7 non-null      object
 4   í‚¤       7 non-null      int64
 5   ì¬ì‚°      5 non-null      float64
dtypes: float64(1), int64(2), object(3)
memory usage: 468.0+ bytes

In [144]:
df

      ì´ë¦„  ë‚˜ì´     ì§ì—…     êµ­ì     í‚¤             ì¬ì‚°
0   ì•„ì´ì–¸ë§¨  58    CEO     ë¯¸êµ­  174 11500000000000
1     í† ë¥´  45      ì‹   ì•„ìŠ¤ê°€ë¥´ë“œ  190            NaN
2  ìŠ¤íŒŒì´ë”ë§¨  18   ê³ ë“±í•™ìƒ     ë¯¸êµ­  177            600
3   ì›ë”ìš°ë¨¼  27     ê³µì£¼  ë°ë¯¸ìŠ¤í‚¤ë¼  178            NaN
4     í—í¬  33  í•µë¬¼ë¦¬í•™ì     ë¯¸êµ­  270     1000000000
5   ìº¡í‹´ë§ˆë¸”  25    íŒŒì¼ëŸ¿     ë¯¸êµ­  170      340000000
6  ë¸”ë™ìœ„ë„ìš°  32    ìŠ¤íŒŒì´    ëŸ¬ì‹œì•„  170       50000000

In [145]:
df.describe()

       ë‚˜ì´   í‚¤             ì¬ì‚°
count   7   7              5
mean   34 190  2300278000120
std    13  36  5142800956894
min    18 170            600
25%    26 172       50000000
50%    32 177      340000000
75%    39 184     1000000000
max    58 270 11500000000000

In [146]:
df.head()

      ì´ë¦„  ë‚˜ì´     ì§ì—…     êµ­ì     í‚¤             ì¬ì‚°
0   ì•„ì´ì–¸ë§¨  58    CEO     ë¯¸êµ­  174 11500000000000
1     í† ë¥´  45      ì‹   ì•„ìŠ¤ê°€ë¥´ë“œ  190            NaN
2  ìŠ¤íŒŒì´ë”ë§¨  18   ê³ ë“±í•™ìƒ     ë¯¸êµ­  177            600
3   ì›ë”ìš°ë¨¼  27     ê³µì£¼  ë°ë¯¸ìŠ¤í‚¤ë¼  178            NaN
4     í—í¬  33  í•µë¬¼ë¦¬í•™ì     ë¯¸êµ­  270     1000000000

In [147]:
df['êµ­ì ']

0       ë¯¸êµ­
1    ì•„ìŠ¤ê°€ë¥´ë“œ
2       ë¯¸êµ­
3    ë°ë¯¸ìŠ¤í‚¤ë¼
4       ë¯¸êµ­
5       ë¯¸êµ­
6      ëŸ¬ì‹œì•„
Name: êµ­ì , dtype: object

In [148]:
type(df['êµ­ì '])

pandas.core.series.Series

In [150]:
df['êµ­ì '].unique()

array(['ë¯¸êµ­', 'ì•„ìŠ¤ê°€ë¥´ë“œ', 'ë°ë¯¸ìŠ¤í‚¤ë¼', 'ëŸ¬ì‹œì•„'], dtype=object)

In [152]:
df['êµ­ì '].value_counts()

êµ­ì
ë¯¸êµ­       4
ì•„ìŠ¤ê°€ë¥´ë“œ    1
ë°ë¯¸ìŠ¤í‚¤ë¼    1
ëŸ¬ì‹œì•„      1
Name: count, dtype: int64

In [155]:
df['ë‚˜ì´'].nlargest(n=10)

0    58
1    45
4    33
6    32
3    27
5    25
2    18
Name: ë‚˜ì´, dtype: int64

In [156]:
df.nlargest(7,'ë‚˜ì´')

      ì´ë¦„  ë‚˜ì´     ì§ì—…     êµ­ì     í‚¤             ì¬ì‚°
0   ì•„ì´ì–¸ë§¨  58    CEO     ë¯¸êµ­  174 11500000000000
1     í† ë¥´  45      ì‹   ì•„ìŠ¤ê°€ë¥´ë“œ  190            NaN
4     í—í¬  33  í•µë¬¼ë¦¬í•™ì     ë¯¸êµ­  270     1000000000
6  ë¸”ë™ìœ„ë„ìš°  32    ìŠ¤íŒŒì´    ëŸ¬ì‹œì•„  170       50000000
3   ì›ë”ìš°ë¨¼  27     ê³µì£¼  ë°ë¯¸ìŠ¤í‚¤ë¼  178            NaN
5   ìº¡í‹´ë§ˆë¸”  25    íŒŒì¼ëŸ¿     ë¯¸êµ­  170      340000000
2  ìŠ¤íŒŒì´ë”ë§¨  18   ê³ ë“±í•™ìƒ     ë¯¸êµ­  177            600

In [159]:
df['ì´ë¦„'][:5]

0     ì•„ì´ì–¸ë§¨
1       í† ë¥´
2    ìŠ¤íŒŒì´ë”ë§¨
3     ì›ë”ìš°ë¨¼
4       í—í¬
Name: ì´ë¦„, dtype: object

In [160]:
df[3:]

      ì´ë¦„  ë‚˜ì´     ì§ì—…     êµ­ì     í‚¤         ì¬ì‚°
3   ì›ë”ìš°ë¨¼  27     ê³µì£¼  ë°ë¯¸ìŠ¤í‚¤ë¼  178        NaN
4     í—í¬  33  í•µë¬¼ë¦¬í•™ì     ë¯¸êµ­  270 1000000000
5   ìº¡í‹´ë§ˆë¸”  25    íŒŒì¼ëŸ¿     ë¯¸êµ­  170  340000000
6  ë¸”ë™ìœ„ë„ìš°  32    ìŠ¤íŒŒì´    ëŸ¬ì‹œì•„  170   50000000

In [164]:
df[1:4]

      ì´ë¦„  ë‚˜ì´    ì§ì—…     êµ­ì     í‚¤  ì¬ì‚°
1     í† ë¥´  45     ì‹   ì•„ìŠ¤ê°€ë¥´ë“œ  190 NaN
2  ìŠ¤íŒŒì´ë”ë§¨  18  ê³ ë“±í•™ìƒ     ë¯¸êµ­  177 600
3   ì›ë”ìš°ë¨¼  27    ê³µì£¼  ë°ë¯¸ìŠ¤í‚¤ë¼  178 NaN

In [167]:
df.iloc[[1,3,6]]

      ì´ë¦„  ë‚˜ì´   ì§ì—…     êµ­ì     í‚¤       ì¬ì‚°
1     í† ë¥´  45    ì‹   ì•„ìŠ¤ê°€ë¥´ë“œ  190      NaN
3   ì›ë”ìš°ë¨¼  27   ê³µì£¼  ë°ë¯¸ìŠ¤í‚¤ë¼  178      NaN
6  ë¸”ë™ìœ„ë„ìš°  32  ìŠ¤íŒŒì´    ëŸ¬ì‹œì•„  170 50000000

In [172]:
df.iloc[:5,:3]

      ì´ë¦„  ë‚˜ì´     ì§ì—…
0   ì•„ì´ì–¸ë§¨  58    CEO
1     í† ë¥´  45      ì‹
2  ìŠ¤íŒŒì´ë”ë§¨  18   ê³ ë“±í•™ìƒ
3   ì›ë”ìš°ë¨¼  27     ê³µì£¼
4     í—í¬  33  í•µë¬¼ë¦¬í•™ì

In [174]:
df.iloc[[1,3,6]]

      ì´ë¦„  ë‚˜ì´   ì§ì—…     êµ­ì     í‚¤       ì¬ì‚°
1     í† ë¥´  45    ì‹   ì•„ìŠ¤ê°€ë¥´ë“œ  190      NaN
3   ì›ë”ìš°ë¨¼  27   ê³µì£¼  ë°ë¯¸ìŠ¤í‚¤ë¼  178      NaN
6  ë¸”ë™ìœ„ë„ìš°  32  ìŠ¤íŒŒì´    ëŸ¬ì‹œì•„  170 50000000

In [ ]:
df.loc[í–‰ì´ë¦„,ì—´ì´ë¦„]

In [175]:
df.loc[[0,4,6]]

      ì´ë¦„  ë‚˜ì´     ì§ì—…   êµ­ì     í‚¤             ì¬ì‚°
0   ì•„ì´ì–¸ë§¨  58    CEO   ë¯¸êµ­  174 11500000000000
4     í—í¬  33  í•µë¬¼ë¦¬í•™ì   ë¯¸êµ­  270     1000000000
6  ë¸”ë™ìœ„ë„ìš°  32    ìŠ¤íŒŒì´  ëŸ¬ì‹œì•„  170       50000000

In [ ]:
df.loc[2:5]     #ë§ˆì§€ë§‰ ê°’ë„ í¬í•¨

      ì´ë¦„  ë‚˜ì´     ì§ì—…     êµ­ì     í‚¤         ì¬ì‚°
2  ìŠ¤íŒŒì´ë”ë§¨  18   ê³ ë“±í•™ìƒ     ë¯¸êµ­  177        600
3   ì›ë”ìš°ë¨¼  27     ê³µì£¼  ë°ë¯¸ìŠ¤í‚¤ë¼  178        NaN
4     í—í¬  33  í•µë¬¼ë¦¬í•™ì     ë¯¸êµ­  270 1000000000
5   ìº¡í‹´ë§ˆë¸”  25    íŒŒì¼ëŸ¿     ë¯¸êµ­  170  340000000

In [177]:
df.loc[:2,['ì´ë¦„','ì§ì—…']]

      ì´ë¦„    ì§ì—…
0   ì•„ì´ì–¸ë§¨   CEO
1     í† ë¥´     ì‹
2  ìŠ¤íŒŒì´ë”ë§¨  ê³ ë“±í•™ìƒ

In [179]:
df.loc[3:,'êµ­ì ':'ì¬ì‚°']

      êµ­ì     í‚¤         ì¬ì‚°
3  ë°ë¯¸ìŠ¤í‚¤ë¼  178        NaN
4     ë¯¸êµ­  270 1000000000
5     ë¯¸êµ­  170  340000000
6    ëŸ¬ì‹œì•„  170   50000000

In [180]:
df

      ì´ë¦„  ë‚˜ì´     ì§ì—…     êµ­ì     í‚¤             ì¬ì‚°
0   ì•„ì´ì–¸ë§¨  58    CEO     ë¯¸êµ­  174 11500000000000
1     í† ë¥´  45      ì‹   ì•„ìŠ¤ê°€ë¥´ë“œ  190            NaN
2  ìŠ¤íŒŒì´ë”ë§¨  18   ê³ ë“±í•™ìƒ     ë¯¸êµ­  177            600
3   ì›ë”ìš°ë¨¼  27     ê³µì£¼  ë°ë¯¸ìŠ¤í‚¤ë¼  178            NaN
4     í—í¬  33  í•µë¬¼ë¦¬í•™ì     ë¯¸êµ­  270     1000000000
5   ìº¡í‹´ë§ˆë¸”  25    íŒŒì¼ëŸ¿     ë¯¸êµ­  170      340000000
6  ë¸”ë™ìœ„ë„ìš°  32    ìŠ¤íŒŒì´    ëŸ¬ì‹œì•„  170       50000000

In [182]:
df[df['ë‚˜ì´'] > 30]

      ì´ë¦„  ë‚˜ì´     ì§ì—…     êµ­ì     í‚¤             ì¬ì‚°
0   ì•„ì´ì–¸ë§¨  58    CEO     ë¯¸êµ­  174 11500000000000
1     í† ë¥´  45      ì‹   ì•„ìŠ¤ê°€ë¥´ë“œ  190            NaN
4     í—í¬  33  í•µë¬¼ë¦¬í•™ì     ë¯¸êµ­  270     1000000000
6  ë¸”ë™ìœ„ë„ìš°  32    ìŠ¤íŒŒì´    ëŸ¬ì‹œì•„  170       50000000

In [183]:
df['ë‚˜ì´'] > 30

0     True
1     True
2    False
3    False
4     True
5    False
6     True
Name: ë‚˜ì´, dtype: bool

In [189]:
df[(df['ë‚˜ì´'] > 30) & (df['ë‚˜ì´'] < 50)]

      ì´ë¦„  ë‚˜ì´     ì§ì—…     êµ­ì     í‚¤         ì¬ì‚°
1     í† ë¥´  45      ì‹   ì•„ìŠ¤ê°€ë¥´ë“œ  190        NaN
4     í—í¬  33  í•µë¬¼ë¦¬í•™ì     ë¯¸êµ­  270 1000000000
6  ë¸”ë™ìœ„ë„ìš°  32    ìŠ¤íŒŒì´    ëŸ¬ì‹œì•„  170   50000000

In [195]:
df.loc[(df['í‚¤'] >= 180),['ë‚˜ì´', 'ì´ë¦„', 'í‚¤']]

   ë‚˜ì´  ì´ë¦„    í‚¤
1  45  í† ë¥´  190
4  33  í—í¬  270

In [209]:
df['ì „íˆ¬ë ¥'] = 98

In [197]:
df['ì „íˆ¬ë ¥'] -= 5

In [199]:
df

      ì´ë¦„  ë‚˜ì´     ì§ì—…     êµ­ì     í‚¤             ì¬ì‚°  ì „íˆ¬ë ¥
0   ì•„ì´ì–¸ë§¨  58    CEO     ë¯¸êµ­  174 11500000000000   93
1     í† ë¥´  45      ì‹   ì•„ìŠ¤ê°€ë¥´ë“œ  190            NaN   93
2  ìŠ¤íŒŒì´ë”ë§¨  18   ê³ ë“±í•™ìƒ     ë¯¸êµ­  177            600   93
3   ì›ë”ìš°ë¨¼  27     ê³µì£¼  ë°ë¯¸ìŠ¤í‚¤ë¼  178            NaN   93
4     í—í¬  33  í•µë¬¼ë¦¬í•™ì     ë¯¸êµ­  270     1000000000   93
5   ìº¡í‹´ë§ˆë¸”  25    íŒŒì¼ëŸ¿     ë¯¸êµ­  170      340000000   93
6  ë¸”ë™ìœ„ë„ìš°  32    ìŠ¤íŒŒì´    ëŸ¬ì‹œì•„  170       50000000   93

In [ ]:
df.drop(columns=['ì „íˆ¬ë ¥']) #ì„ì‹œ. ì €ì¥ì€ ì•ˆë¨
df

      ì´ë¦„  ë‚˜ì´     ì§ì—…     êµ­ì     í‚¤             ì¬ì‚°  ì „íˆ¬ë ¥
0   ì•„ì´ì–¸ë§¨  58    CEO     ë¯¸êµ­  174 11500000000000   93
1     í† ë¥´  45      ì‹   ì•„ìŠ¤ê°€ë¥´ë“œ  190            NaN   93
2  ìŠ¤íŒŒì´ë”ë§¨  18   ê³ ë“±í•™ìƒ     ë¯¸êµ­  177            600   93
3   ì›ë”ìš°ë¨¼  27     ê³µì£¼  ë°ë¯¸ìŠ¤í‚¤ë¼  178            NaN   93
4     í—í¬  33  í•µë¬¼ë¦¬í•™ì     ë¯¸êµ­  270     1000000000   93
5   ìº¡í‹´ë§ˆë¸”  25    íŒŒì¼ëŸ¿     ë¯¸êµ­  170      340000000   93
6  ë¸”ë™ìœ„ë„ìš°  32    ìŠ¤íŒŒì´    ëŸ¬ì‹œì•„  170       50000000   93

In [205]:
df = df.drop(columns=['ì „íˆ¬ë ¥'])
df

      ì´ë¦„  ë‚˜ì´     ì§ì—…     êµ­ì     í‚¤             ì¬ì‚°
0   ì•„ì´ì–¸ë§¨  58    CEO     ë¯¸êµ­  174 11500000000000
1     í† ë¥´  45      ì‹   ì•„ìŠ¤ê°€ë¥´ë“œ  190            NaN
2  ìŠ¤íŒŒì´ë”ë§¨  18   ê³ ë“±í•™ìƒ     ë¯¸êµ­  177            600
3   ì›ë”ìš°ë¨¼  27     ê³µì£¼  ë°ë¯¸ìŠ¤í‚¤ë¼  178            NaN
4     í—í¬  33  í•µë¬¼ë¦¬í•™ì     ë¯¸êµ­  270     1000000000
5   ìº¡í‹´ë§ˆë¸”  25    íŒŒì¼ëŸ¿     ë¯¸êµ­  170      340000000
6  ë¸”ë™ìœ„ë„ìš°  32    ìŠ¤íŒŒì´    ëŸ¬ì‹œì•„  170       50000000

In [210]:
df.drop(columns=['ì „íˆ¬ë ¥'], inplace=True)
df

      ì´ë¦„  ë‚˜ì´     ì§ì—…     êµ­ì     í‚¤             ì¬ì‚°
0   ì•„ì´ì–¸ë§¨  58    CEO     ë¯¸êµ­  174 11500000000000
1     í† ë¥´  45      ì‹   ì•„ìŠ¤ê°€ë¥´ë“œ  190            NaN
2  ìŠ¤íŒŒì´ë”ë§¨  18   ê³ ë“±í•™ìƒ     ë¯¸êµ­  177            600
3   ì›ë”ìš°ë¨¼  27     ê³µì£¼  ë°ë¯¸ìŠ¤í‚¤ë¼  178            NaN
4     í—í¬  33  í•µë¬¼ë¦¬í•™ì     ë¯¸êµ­  270     1000000000
5   ìº¡í‹´ë§ˆë¸”  25    íŒŒì¼ëŸ¿     ë¯¸êµ­  170      340000000
6  ë¸”ë™ìœ„ë„ìš°  32    ìŠ¤íŒŒì´    ëŸ¬ì‹œì•„  170       50000000

In [213]:
df['ì¬ì‚°'].isnull()

0    False
1     True
2    False
3     True
4    False
5    False
6    False
Name: ì¬ì‚°, dtype: bool

In [212]:
df[df['ì¬ì‚°'].isnull()]

     ì´ë¦„  ë‚˜ì´  ì§ì—…     êµ­ì     í‚¤  ì¬ì‚°
1    í† ë¥´  45   ì‹   ì•„ìŠ¤ê°€ë¥´ë“œ  190 NaN
3  ì›ë”ìš°ë¨¼  27  ê³µì£¼  ë°ë¯¸ìŠ¤í‚¤ë¼  178 NaN

In [215]:
df.isnull().sum()

ì´ë¦„    0
ë‚˜ì´    0
ì§ì—…    0
êµ­ì     0
í‚¤     0
ì¬ì‚°    2
dtype: int64

In [216]:
df.dropna()

      ì´ë¦„  ë‚˜ì´     ì§ì—…   êµ­ì     í‚¤             ì¬ì‚°
0   ì•„ì´ì–¸ë§¨  58    CEO   ë¯¸êµ­  174 11500000000000
2  ìŠ¤íŒŒì´ë”ë§¨  18   ê³ ë“±í•™ìƒ   ë¯¸êµ­  177            600
4     í—í¬  33  í•µë¬¼ë¦¬í•™ì   ë¯¸êµ­  270     1000000000
5   ìº¡í‹´ë§ˆë¸”  25    íŒŒì¼ëŸ¿   ë¯¸êµ­  170      340000000
6  ë¸”ë™ìœ„ë„ìš°  32    ìŠ¤íŒŒì´  ëŸ¬ì‹œì•„  170       50000000

In [217]:
df

      ì´ë¦„  ë‚˜ì´     ì§ì—…     êµ­ì     í‚¤             ì¬ì‚°
0   ì•„ì´ì–¸ë§¨  58    CEO     ë¯¸êµ­  174 11500000000000
1     í† ë¥´  45      ì‹   ì•„ìŠ¤ê°€ë¥´ë“œ  190            NaN
2  ìŠ¤íŒŒì´ë”ë§¨  18   ê³ ë“±í•™ìƒ     ë¯¸êµ­  177            600
3   ì›ë”ìš°ë¨¼  27     ê³µì£¼  ë°ë¯¸ìŠ¤í‚¤ë¼  178            NaN
4     í—í¬  33  í•µë¬¼ë¦¬í•™ì     ë¯¸êµ­  270     1000000000
5   ìº¡í‹´ë§ˆë¸”  25    íŒŒì¼ëŸ¿     ë¯¸êµ­  170      340000000
6  ë¸”ë™ìœ„ë„ìš°  32    ìŠ¤íŒŒì´    ëŸ¬ì‹œì•„  170       50000000

In [221]:
df['ì¬ì‚°'].fillna(df['ì¬ì‚°'].mean())

0   11500000000000
1    2300278000120
2              600
3    2300278000120
4       1000000000
5        340000000
6         50000000
Name: ì¬ì‚°, dtype: float64

In [222]:
df['ì¬ì‚°']

0   11500000000000
1              NaN
2              600
3              NaN
4       1000000000
5        340000000
6         50000000
Name: ì¬ì‚°, dtype: float64

In [225]:
df.fillna(method='ffill', inplace=True)       #ì´ì „ ê°’ìœ¼ë¡œ nanê°’ì„ ì±„ìŒ.

C:\Users\EL86\AppData\Local\Temp\ipykernel_11052\3935673709.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)       #ì´ì „ ê°’ìœ¼ë¡œ nanê°’ì„ ì±„ìŒ.

In [226]:
df

      ì´ë¦„  ë‚˜ì´     ì§ì—…     êµ­ì     í‚¤             ì¬ì‚°
0   ì•„ì´ì–¸ë§¨  58    CEO     ë¯¸êµ­  174 11500000000000
1     í† ë¥´  45      ì‹   ì•„ìŠ¤ê°€ë¥´ë“œ  190 11500000000000
2  ìŠ¤íŒŒì´ë”ë§¨  18   ê³ ë“±í•™ìƒ     ë¯¸êµ­  177            600
3   ì›ë”ìš°ë¨¼  27     ê³µì£¼  ë°ë¯¸ìŠ¤í‚¤ë¼  178            600
4     í—í¬  33  í•µë¬¼ë¦¬í•™ì     ë¯¸êµ­  270     1000000000
5   ìº¡í‹´ë§ˆë¸”  25    íŒŒì¼ëŸ¿     ë¯¸êµ­  170      340000000
6  ë¸”ë™ìœ„ë„ìš°  32    ìŠ¤íŒŒì´    ëŸ¬ì‹œì•„  170       50000000

In [227]:
df.iloc[5,1] =np.nan
df

      ì´ë¦„  ë‚˜ì´     ì§ì—…     êµ­ì     í‚¤             ì¬ì‚°
0   ì•„ì´ì–¸ë§¨  58    CEO     ë¯¸êµ­  174 11500000000000
1     í† ë¥´  45      ì‹   ì•„ìŠ¤ê°€ë¥´ë“œ  190 11500000000000
2  ìŠ¤íŒŒì´ë”ë§¨  18   ê³ ë“±í•™ìƒ     ë¯¸êµ­  177            600
3   ì›ë”ìš°ë¨¼  27     ê³µì£¼  ë°ë¯¸ìŠ¤í‚¤ë¼  178            600
4     í—í¬  33  í•µë¬¼ë¦¬í•™ì     ë¯¸êµ­  270     1000000000
5   ìº¡í‹´ë§ˆë¸” NaN    íŒŒì¼ëŸ¿     ë¯¸êµ­  170      340000000
6  ë¸”ë™ìœ„ë„ìš°  32    ìŠ¤íŒŒì´    ëŸ¬ì‹œì•„  170       50000000

In [229]:
#ë‚˜ì´ì˜ í‰ê· ê°’ìœ¼ë¡œ ê²°ì¸¡ì¹˜ ì±„ìš°ê¸°

df['ë‚˜ì´'].fillna(df['ë‚˜ì´'].mean(), inplace=True)
df

C:\Users\EL86\AppData\Local\Temp\ipykernel_11052\234663572.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ë‚˜ì´'].fillna(df['ë‚˜ì´'].mean(), inplace=True)

      ì´ë¦„  ë‚˜ì´     ì§ì—…     êµ­ì     í‚¤             ì¬ì‚°
0   ì•„ì´ì–¸ë§¨  58    CEO     ë¯¸êµ­  174 11500000000000
1     í† ë¥´  45      ì‹   ì•„ìŠ¤ê°€ë¥´ë“œ  190 11500000000000
2  ìŠ¤íŒŒì´ë”ë§¨  18   ê³ ë“±í•™ìƒ     ë¯¸êµ­  177            600
3   ì›ë”ìš°ë¨¼  27     ê³µì£¼  ë°ë¯¸ìŠ¤í‚¤ë¼  178            600
4     í—í¬  33  í•µë¬¼ë¦¬í•™ì     ë¯¸êµ­  270     1000000000
5   ìº¡í‹´ë§ˆë¸”  36    íŒŒì¼ëŸ¿     ë¯¸êµ­  170      340000000
6  ë¸”ë™ìœ„ë„ìš°  32    ìŠ¤íŒŒì´    ëŸ¬ì‹œì•„  170       50000000

In [240]:
def add_cm(height):
    height = str(height) + "cm"
    return height

def remove_cm(height):
    part = height.replace('cmcm', '')
    part_float = float(part)
    
    return str(part_float) + 'cm'

df['í‚¤'] = df['í‚¤'].apply(remove_cm)

df

      ì´ë¦„  ë‚˜ì´     ì§ì—…     êµ­ì         í‚¤             ì¬ì‚°
0   ì•„ì´ì–¸ë§¨  58    CEO     ë¯¸êµ­  174.0cm 11500000000000
1     í† ë¥´  45      ì‹   ì•„ìŠ¤ê°€ë¥´ë“œ  190.0cm            NaN
2  ìŠ¤íŒŒì´ë”ë§¨  18   ê³ ë“±í•™ìƒ     ë¯¸êµ­  177.0cm            600
3   ì›ë”ìš°ë¨¼  27     ê³µì£¼  ë°ë¯¸ìŠ¤í‚¤ë¼  178.0cm            NaN
4     í—í¬  33  í•µë¬¼ë¦¬í•™ì     ë¯¸êµ­  270.0cm     1000000000
5   ìº¡í‹´ë§ˆë¸”  25    íŒŒì¼ëŸ¿     ë¯¸êµ­  170.0cm      340000000
6  ë¸”ë™ìœ„ë„ìš°  32    ìŠ¤íŒŒì´    ëŸ¬ì‹œì•„  170.0cm       50000000

In [242]:
df.groupby('êµ­ì ')['ì¬ì‚°'].mean()

êµ­ì
ë°ë¯¸ìŠ¤í‚¤ë¼             NaN
ëŸ¬ì‹œì•„          50000000
ë¯¸êµ­      2875335000150
ì•„ìŠ¤ê°€ë¥´ë“œ             NaN
Name: ì¬ì‚°, dtype: float64