In [ ]:
n = 10
for i in range(1, n + 1):
    for j in range(n-i):
        print(' ',end='')
    for j in range(2 * i - 1):
        print('*', end='')
    print()

In [ ]:
n = 10
for i in range(1, n + 1):
    spaces = ' '* (n-i)
    stars = '*' *  (2 * i - 1)
    print(spaces + stars)

for, while에서의 탈출 -->break
중첩반복문에서의 탈출?

In [19]:
number = 0
break_all =False

for i in range(5):
    for j in range(5):
        print(f"i = {i}, j = {j}")
        if i == 2 and j == 3:
            break_all = True
            break
    if break_all:    
        break
        #반복을 멈추려면?

number = i * j
print(number) # 6
print(number // 6)

i = 0, j = 0
i = 0, j = 1
i = 0, j = 2
i = 0, j = 3
i = 0, j = 4
i = 1, j = 0
i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
i = 2, j = 0
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
6
1

In [49]:
star = int(input("트리에서 별을 몇개 사용할지 알려주세요: "))
floor_max = int(input("트리의 최대 층수를 몇층으로 할지 알려주세요: "))

#입력한 최대 층수가 너무 커서 여백이 생기는 걸 방지하기 위한 최대 층수 최적화 코드
floor = 0
while (floor)**2 <= star and floor + 1 <= floor_max:
    floor += 1

n = 1

for i in range(1, floor + 1):
    if star >= n:
        print(" " * (floor - i) + "*" * n)
        star = star - n
    else:
        print(" " * (floor - i) + "*" * star)
        break
    n += 2

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
******************

In [ ]:
my_str = "Hello, Python"
#인덱싱
my_str[7]
#음수 인덱싱
my_str[-1]
#슬라이싱
my_str[7:11]
#규칙성 슬라이싱, 음수도 가능.
my_str[::-1]

'nohtyP ,olleH'

In [62]:
for i in my_str:
    print(i)

H
e
l
l
o
,

P
y
t
h
o
n

In [73]:
for i in range(len(my_str)):
    print(my_str[i])

H
e
l
l
o
,

P
y
t
h
o
n

In [69]:
#문자열 데이터의 기능들. 메서드.

my_str.lower() #소문자화

'hello, python'

In [70]:
my_str.upper() #대문자화

'HELLO, PYTHON'

In [ ]:
words = my_str.split(",") #기준자를 기준으로 문자열을 리스트로 만들기
print(words)

['Hello', ' Python']

리스트 : 복수의 다양한 데이터를 저장하는

In [ ]:
numbers = [1,2,3,4,5]

In [31]:
fruits = ['apple', 'banana', 'mango']

In [32]:
len(fruits)

3

In [ ]:
mixed = [1, "apple", True, [10, 20, 30]]

In [75]:
numbers1 = [1,2,3,4,5]
numbers2 = [6,7,8,9,10]
numbers1+numbers2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
numbers1*3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [27]:
fruits.append("cherry")

In [13]:
fruits

['apple', 'kiwi', 'mango', 'orange', 'date', 'cherry']

In [4]:
fruits.insert(2, 'kiwi')

In [5]:
fruits

['apple', 'banana', 'kiwi', 'mango', 'cherry']

In [22]:
fruits.extend(['orange', 'date'])

In [7]:
fruits

['apple', 'banana', 'kiwi', 'mango', 'cherry', 'orange', 'date']

In [8]:
fruits.pop(1)

'banana'

In [9]:
fruits

['apple', 'kiwi', 'mango', 'cherry', 'orange', 'date']

In [ ]:
fruits.remove('cherry') #리스트의 제일 앞의 cherry부터 삭제된다.

In [30]:
fruits

['apple',
 'kiwi',
 'mango',
 'orange',
 'date',
 'cherry',
 'cherry',
 'orange',
 'date',
 'cherry']

In [23]:
fruits.count('cherry')

4

In [35]:
numbers = [1,2,5,4,3]

In [36]:
numbers

[1, 2, 5, 4, 3]

In [37]:
numbers.sort()

In [38]:
numbers

[1, 2, 3, 4, 5]

In [39]:
numbers.sort(reverse=True)

In [40]:
numbers

[5, 4, 3, 2, 1]

In [41]:
fruits

['apple', 'banana', 'mango']

In [42]:
fruits.reverse()

In [43]:
fruits

['mango', 'banana', 'apple']

In [44]:
for i in fruits:
    print(i)

mango
banana
apple

In [45]:
for i in range(len(fruits)):
    print(f"{i}번째 과일: {fruits[i]}")

0번째 과일: mango
1번째 과일: banana
2번째 과일: apple

In [46]:
numbers = [10, 20, 30, 40, 50]

In [47]:
len(numbers)

5

In [48]:
max(numbers)

50

In [49]:
sum(numbers)

150

In [50]:
#평균은
sum(numbers)/len(numbers)

30.0

In [51]:
numbers = [1,2,3,4,5,6,7,8,9]

In [58]:
#반복문을 이용해서 리스트를 생성할 수 있음. ->리스트 컴프리헨션
numbers = [i for i in range(10)]

In [59]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
num_list = []
for i in range(10):
    num_list.append(i)

num_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
numbers = [i**2 for i in range(1, 10 + 1)]
numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [64]:
num_list = []
for i in range(1, 10 + 1):
    if i % 2 == 0:
        num_list.append(i)

num_list

[2, 4, 6, 8, 10]

In [66]:
numbers = [i for i in range(1, 10 + 1) if i % 2 == 0]
numbers

[2, 4, 6, 8, 10]

In [67]:
if "바보" == '바보':
    print("a")

a

In [71]:
#총 5명의 학생이 시험을 보았는데, 시험점수가 60점 이상이면 합격, 아니면 불합격. 

marks =[90, 25, 67, 45, 80]     #학생들의 시험 점수 리스트.

for i in range(len(marks)):
    if marks[i] >=60:
        print(f"{i+1}번째 학생은 {marks[i]}점으로 합격입니다.")
    else:
        print(f"{i+1}번째 학생은 {marks[i]}점으로 불합격입니다.")

1번째 학생은 90점으로 합격입니다.
2번째 학생은 25점으로 불합격입니다.
3번째 학생은 67점으로 합격입니다.
4번째 학생은 45점으로 불합격입니다.
5번째 학생은 80점으로 합격입니다.

In [70]:
#총 5명의 학생이 시험을 보았는데, 시험점수가 60점 이상이면 합격, 아니면 불합격. 

marks =[90, 25, 67, 45, 80]     #학생들의 시험 점수 리스트.
number = 0
for i in marks:
    number += 1
    if i >=60:
        print(f"{number}번째 학생은 {i}점으로 합격입니다.")
    else:
        print(f"{number}번째 학생은 {i}점으로 불합격입니다.")

1번째 학생은 90점으로 합격입니다.
2번째 학생은 25점으로 불합격입니다.
3번째 학생은 67점으로 합격입니다.
4번째 학생은 45점으로 불합격입니다.
5번째 학생은 80점으로 합격입니다.

In [79]:
#끝말잇기 게임 만듫기. 혼자 하는거
print("끝말잇기 게임")
print("시작")
var = "가나다"

print(var)

start = var[-1]
while True:
    var = input("단어를 입력해 주세요: ")
    print(var)
    if start == var[0]:
        start = var[-1]
        continue
    else:
        print("땡!!!!!")
        break

끝말잇기 게임
시작
가나다
다람쥐
앙
땡!!!!!

In [86]:
#numbers = [1,1,3,3,0,1,1] -> [1,3,0,2]
#numbers = [4,4,4,3,3] -> [4,3]

numbers = [1,1,3,3,0,1,1]

list = [numbers[0]]

for i in range(len(numbers)):

    for j in range(len(list)):
        if numbers[i] == list[j]:
            numbers.pop(i)
    list.append(numbers[i])

print(numbers)

IndexError: list index out of range

In [88]:
#numbers = [1,1,3,3,0,1,1] -> [1,3,0,2]
#numbers = [4,4,4,3,3] -> [4,3]

numbers = [1,1,3,3,0,1,1]

list = []
comp = numbers[0]
list.append(comp)

for i in numbers:
    if comp != i:
        comp = i
        list.append(comp)

print(list)

[1, 3, 0, 1]

딕셔너리

In [90]:
student = {'name' : "Jimin", 'age' : 29, 'hobby' : "game"}

In [91]:
type(student)

dict

In [ ]:
mylist =[]
mylist = list()

mydict = {}
mydict = dict()

In [ ]:
person = {'name' : 'crs', 'age' : 31}

In [107]:
student = {'name' : "Jimin", 'age' : 29, 'hobby' : "game"}

In [92]:
student = {'name' : "Jimin", 'age' : 29, 'hobby' : "game", 'name' : '망개'}

In [93]:
student

{'name': '망개', 'age': 29, 'hobby': 'game'}

키값을 중복하면 마지막에 할당한 값을 key 값에 덮어씌워버림.

In [94]:
student['name']

'망개'

In [95]:
student.keys()

dict_keys(['name', 'age', 'hobby'])

In [96]:
student.items()

dict_items([('name', '망개'), ('age', 29), ('hobby', 'game')])

In [97]:
student.values()

dict_values(['망개', 29, 'game'])

In [98]:
for i in student.keys():
    print(i)

name
age
hobby

In [99]:
for i in student.items():
    print(i)

('name', '망개')
('age', 29)
('hobby', 'game')

In [100]:
for i in student.values():
    print(i)

망개
29
game

In [108]:
student.get("name")

'Jimin'

리스트는 순서가 있으나, 딕셔너리는 순서가 없음.

In [103]:
student.pop()

TypeError: pop expected at least 1 argument, got 0

In [101]:
student.pop('age')

29

In [109]:
student

{'name': 'Jimin', 'age': 29, 'hobby': 'game'}

In [ ]:
student.popitem() #이 명령어는 오류 안생김.

('hobby', 'game')

in 연산자

In [110]:
fruits

['mango', 'banana', 'apple']

In [111]:
'apple' in fruits

True

In [112]:
'aaaaaa' in fruits

False

In [113]:
student

{'name': 'Jimin', 'age': 29, 'hobby': 'game'}

In [114]:
'name' in student

True

In [ ]:
29 in student #student.keys()와 거의 동일.

False

In [117]:
29 in student.values()

True

In [118]:
29 in student.items()

False

In [120]:
for i in student.items():
    print(i[0], i[1])

name Jimin
age 29
hobby game

In [121]:
for i, j in student.items():
    print(i, j)

name Jimin
age 29
hobby game

In [127]:
'''모스부호  

 

문자열 letter가 주어질 때, letter를 영어 소문자로 바꾼 문자열을 출력 하도록 코드작성 
'''

morse = { 

    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 
    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 
    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 
    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 
    '-.--':'y','--..':'z' 

} 

 
'''
입출력 예 

letter  result 

".... . .-.. .-.. ---"  "hello" 

".--. -.-- - .... --- -."   "python"
'''

'\n입출력 예 \n\nletter  result \n\n".... . .-.. .-.. ---"  "hello" \n\n".--. -.-- - .... --- -."   "python"\n'

In [137]:
morse = { 

    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 
    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 
    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 
    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 
    '-.--':'y','--..':'z' 

} 

letter = ".... . .-.. .-.. ---" 
answer = ''

letter = letter.split()

for i in letter:
    if i in morse:
        answer += morse[i]

print(answer)

#코드 구현

#hello

hello

In [151]:
morse = { 

    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 
    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 
    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 
    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 
    '-.--':'y','--..':'z' 

} 

letter = "hello" 
answer = ''

for i in letter:
    for j, k in morse.items():
        if k == i:
            answer += j + ' '
            break


print(answer)

.... . .-.. .-.. ---

###set 자료형

중복읋 허용하지 않고, 순서가 없는 데이터

In [152]:
s = {1, 2, 3, 4, 2, 3}

In [153]:
type(s)

set

In [ ]:
s #중복이 자동으로 삭제됨.

{1, 2, 3, 4}

In [155]:
s[0]

TypeError: 'set' object is not subscriptable

In [157]:
s.add(5)

In [158]:
s

{1, 2, 3, 4, 5}

In [159]:
a = {1,2,3,4}
b = {3,4,5,6}

In [160]:
a|b

{1, 2, 3, 4, 5, 6}

In [161]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [162]:
a & b

{3, 4}

In [163]:
a.intersection(b)

{3, 4}

In [166]:
a - b

{1, 2}

In [167]:
a.difference(b)

{1, 2}

튜플

여러 형태의 데이터를 넣을 수 있음

immutable. 변경 불가능함.

In [168]:
t1 = ()

In [169]:
t2 = (1,2)

In [170]:
type(t2)

tuple

In [171]:
t2[0]

1

In [172]:
t2[0] = 10

TypeError: 'tuple' object does not support item assignment

In [173]:
t3 = ('a', 4, ('ab', 'g'))

In [174]:
rawdata = ()

In [175]:
t4 = 1, 2, 3, 4

In [176]:
type(t4)

tuple

In [188]:
#빼빼로데이

#빼빼로의 종류는 6가지 맛('누드초코', '아몬드', '초코', '크런키', '크림치즈', '화이트쿠키')이 있었습니다.
#이벤트 빼빼로는 한가지 맛에 하나만 구매할 수 있습니다.
#구매한 빼빼로를 오름차순으로 정렬하여 결과를 나타내 주세요.

#입력1
#["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]

#출력1
#['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

pepero = ["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]

#코드작성
answer = sorted(set(pepero))
print(answer)

['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

In [195]:
#영단어갯수세기

#내가 외운 단어의 개수는 몇개일까요?

#입력1
#"culture experience symbol symbol education symbol effect education affair liberty liberty affair"

#출력1
#7

letter = "culture experience symbol symbol education symbol effect education affair liberty liberty affair"

len(set(letter.split()))

7

### 함수

In [196]:
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BaseExceptionGroup',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'ExceptionGroup',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [197]:
def my_func():
    print("내가 만든 함수")

my_func()
my_func()
my_func()

내가 만든 함수
내가 만든 함수
내가 만든 함수

In [206]:
def my_func(a):    
    print(f"{a}, 내가 만든 함수")

In [207]:
my_func('Hey')
my_func('Hello')
my_func('Hi')

Hey, 내가 만든 함수
Hello, 내가 만든 함수
Hi, 내가 만든 함수

In [208]:
def my_sum(a, b):
    result = a+b
    return result

In [209]:
my_sum(3, 4)

7

In [210]:
def num_max(a,b,c):
    if a > b:
        if a > c:
            return a
        else:
            return c
    else:
        if c > b:
            return c
        else:
            return b

num = num_max(10, 12, 7)
num

12

In [214]:
def num_max(a,b,c):
    list = [a,b,c]
    comp = list[0]
    for i in list:
        if i > comp:
            comp = i
    return comp

num = num_max(-3, -5,-1)
num

-1

In [215]:
def num_min(list):
     
    comp = list[0]
    for i in list:
        if i < comp:
            comp = i
    return comp

testArray = [52, 273, 32, 103, 275, 24, 57]
num_min(testArray)

24

In [218]:
def morse_to_string(letter):
    morse = { 

    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 
    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 
    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 
    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 
    '-.--':'y','--..':'z' 
    
    }

    letter = letter.split()
    answer = ''

    for i in letter:
        if i in morse:
            answer += morse[i]

    return answer

def string_to_morse(letter):
    morse = { 

    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 
    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 
    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 
    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 
    '-.--':'y','--..':'z' 

    } 

    answer = ''

    for i in letter:
        for j, k in morse.items():
            if k == i:
                answer += j + ' '
                break
    
    return answer


letter = ".... . .-.. .-.. ---" 


print(morse_to_string(letter))

letter = "hello"

print(string_to_morse(letter))

hello
.... . .-.. .-.. ---

*args

함수 생성 시 매개변수를 tuple로 만들어주는 기능. 매개변수가 얼마나 많아도 상관없음.

In [227]:
def add_many(*args):
    print(args)
    sum = 0
    for i in args:
        sum += i
    return sum

In [228]:
add_many(1,2)

(1, 2)

3

In [229]:
add_many(1,2,3,4,5,6,7)

(1, 2, 3, 4, 5, 6, 7)

28

In [239]:
def add_mul(choice, *args):
    #print(args)
    
    if choice.lower() == "add":
        sum = 0
        for i in args:
            sum += i
    elif choice.lower() == "mul":
        sum = 1
        for i in args:
            sum *= i
    else:
        print("연산자 확인 필요")
        return

    return sum

In [240]:
add_mul('addd', 1,2,3,4,5)

연산자 확인 필요

In [233]:
add_mul('add', 1,2,3,4,5)

15

In [234]:
add_mul('mul', 1,2,3,4,5)

120

In [ ]:
def add_and_mul(a,b):
    return a+b, a*b

In [ ]:
print(add_and_mul(3,4)) #1개의 값 반환됨. tuple 1개

(7, 12)

In [251]:
result1, result2 = add_and_mul(3,4)

In [252]:
result1

7

In [253]:
result2

12

In [260]:
def say_myself(name, age, man=True):    #default값 True로 설정
    print(name, age)
    if man == True:
        print("남자")
    else:
        print("여자")

In [261]:
say_myself('chris', 31, True)

chris 31
남자

In [262]:
say_myself('chris', man=False, age=31)

chris 31
여자

In [263]:
say_myself('john', 31)

john 31
남자